type  state   name           ipaddr         dscp loopback iptables IPTBL_HDR src
===== ======= =============  =============  ==== ======== ======== IPTBL_HDR_EQUALS ====
l3dsr partial 188.125.67.68  188.125.67.68  28   lo:1     --       IPTBL_VAL conf
l3dsr partial 188.125.82.38  188.125.82.38  19   --       up       IPTBL_VAL conf
