+ip -o addr show lo
+iptables -L -t TABLE -n
+ip6tables -L -t TABLE -n
+ip6tables -t TABLE -D PREROUTING -m dscp --dscp 17 -j DADDR --set-daddr=2a00:1288:110:21b::4006
+ip addr del 2a00:1288:110:21b::4006/128 dev lo
+iptables -t TABLE -D PREROUTING -m dscp --dscp 17 -j DADDR --set-daddr=188.125.82.253
+ip addr del 188.125.82.253/32 dev lo label lo:4
+ip addr del 2a00:1288:110:21b::4005/128 dev lo
+iptables -t TABLE -D PREROUTING -m dscp --dscp 43 -j DADDR --set-daddr=188.125.82.196
+ip addr del 188.125.82.196/32 dev lo label lo:3
+ip6tables -t TABLE -D PREROUTING -m dscp --dscp 19 -j DADDR --set-daddr=2a00:1288:110:21b::4002
+ip addr del 2a00:1288:110:21b::4002/128 dev lo
+ip addr del 188.125.82.38/32 dev lo label lo:2
+iptables -t TABLE -D PREROUTING -m dscp --dscp 28 -j DADDR --set-daddr=188.125.67.68
+ip addr del 188.125.67.68/32 dev lo label lo:1
+modprobe -r xt_DADDR
